body.list, body.dark.list, body, body.dark {
    background-image: url(/images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: var(--body-background);
    background-attachment: fixed;
    background-position: center;
}

.main:not(:has(.profile)) {
    background: var(--theme);
    backdrop-filter: blur(20px);
    border-radius: var(--radius);
    margin: 1rem;
}

.main .profile {
    filter: drop-shadow(0 0 15px var(--theme)) sepia(50%);
}

.main .profile,
.main .profile h1,
.main .profile a,
.footer {
    color: var(--primary);
}

.footer a {
    border-bottom: 1px solid var(--primary);
}

.post-entry {
    background-color: var(--theme);
}

.archive-posts {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background-color: var(--theme);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);
}

